// ==========================================================================
//   MIXINS
// ==========================================================================
// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Vertical center
@mixin verticalCenter {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

// Transitions
@mixin transLinks {
    transition:
            background-color 0.3s cubic-bezier(.2,.57,.73,.95) 0s,
            color 0.3s cubic-bezier(.2,.57,.73,.95) 0s;
}
