<footer class="footer">
    <div class="footer__top">
        <div class="footer__aside">
            <div class="footer__logo">
                <img src="../assets/images/logo.svg" alt="BIG TIME" width="156" height="25">
            </div>
        </div><!-- /footer__aside -->

        <div class="footer__info">
            <div class="footer__cta">
                <a href="tel:+420724687619" class="btn">
                    +420 724 687 619
                    <span class="btn__icon" aria-hidden="true">
                        {% include "../../assets/images/icon/arrow-top.svg" %}
                    </span>
                </a>

                <a href="mailto:info@rvlt.digital" class="btn">
                    info@rvlt.digital
                    <span class="btn__icon" aria-hidden="true">
                        {% include "../../assets/images/icon/arrow-top.svg" %}
                    </span>
                </a>
            </div><!-- /footer__cta -->

            <div class="footer__social">
                <ul class="reset">
                    <li>
                        <a href="https://www.linkedin.com/company/rvlt-digital/" target="_blank">
                            {% include "../../assets/images/icon/linked-in.svg" %}
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rvlt_digital/" target="_blank">
                            {% include "../../assets/images/icon/instagram.svg" %}
                        </a>
                    </li>
                </ul>
            </div><!-- /footer__social -->
        </div><!-- /footer__info -->
    </div><!-- /footer__top -->

    <div class="footer__bottom">
        <div class="footer__aside"></div>

        <div class="footer__data">
            <div class="footer__text">
                <p>RVLT Digital s.r.o.<br>Dům Radost<br>nám. Winstona Churchilla 1800/2,<br>Praha 3, 130 00<br>IČ 07412649<br>DIČ CZ07412649</p>
            </div><!-- /footer__text -->

            <div class="footer__certs">
                <div class="footer__cert">
                    <img src="/assets/images/iso.svg" alt="ISO/IEC 27001" width="53" height="42" loading="lazy">
                    <p>RVLT Digital is an accredited <a href="https://www.iso.org/isoiec-27001-information-security.html" target="_blank">company ISO/IEC 27001</a> </p>
                </div>

                <div class="footer__cert">
                    <img src="/assets/images/sap.svg" alt="Certified by SAP" width="68" height="40" loading="lazy">
                    <p>RVLT Digital is an accredited <a href="https://partnerfinder.sap.com/" target="_blank">SAP Business Network supplier</a></p>
                </div>

            </div><!-- /footer__certs -->
        </div><!-- /footer__data -->
    </div><!-- /footer__bottom -->
</footer><!-- /footer -->
