<header class="header">
    <div class="header__section">
        <div class="header__burger">
            <button type="button" class="hamburger js-hamburger" aria-expanded="false">
				<span class="hamburger__lines">
					<span></span>
				</span>
                <span class="hamburger__txt">Menu</span>
            </button>
        </div><!-- /header__burger -->

        <div class="header__logo">
            <div class="sitelogo">
                <a href="../html/">
                    <img src="../assets/images/logo.svg" alt="BIG TIME" width="120" height="19">
                </a>
            </div>
        </div><!-- /header__logo -->

        <div class="header__nav">
            <nav class="nav" aria-label="Primary">
                <ul class="reset">
                    <li{{ navActive == 'navAbout' ? ' class="current-menu-item"' : '' }}>
                        <a href="01-about.php">About</a>
                    </li>
                    <li{{ navActive == 'navWork' ? ' class="current-menu-item"' : '' }}>
                        <a href="02-work.php">Work</a>
                    </li>
                    <li{{ navActive == 'navCareers' ? ' class="current-menu-item"' : '' }}>
                        <a href="03-careers.php">Careers</a>
                    </li>
                    <li{{ navActive == 'navContact' ? ' class="current-menu-item"' : '' }}>
                        <a href="04-contact.php">Contact</a>
                    </li>
                </ul>
            </nav><!-- /nav -->
        </div><!-- /header__nav -->

        <div class="header__tools">
            <div class="langswitch">
                <!-- vypni styly -->
                <div class="wpml-ls-statics-shortcode_actions wpml-ls wpml-ls-legacy-dropdown js-wpml-ls-legacy-dropdown">
                    <ul>
                        <li tabindex="0" class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-sl wpml-ls-current-language wpml-ls-last-item wpml-ls-item-legacy-dropdown">
                            <a href="#" class="js-wpml-ls-item-toggle wpml-ls-item-toggle">
                                <span class="wpml-ls-native">en</span>
                            </a>

                            <ul class="wpml-ls-sub-menu">
                                <li class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-en wpml-ls-first-item">
                                    <a href="#" class="wpml-ls-link">
                                        <span class="wpml-ls-native" lang="cs">cs</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /header__tools -->
    </div><!-- /header__section -->
</header><!-- /header -->
