/* ==========================================================================
    SECTION
   ========================================================================== */
.section {
	@include clearfix;
	box-sizing: border-box;
	width: 100%;
	max-width: rem(1135px);
	margin: 0 auto;
	padding: 0 rem(16px);
}