{% extends "../layout/default.twig" %}

{% set lang = 'en-GB' %}
{% set ogLocale = 'en_GB' %}
{% set robots = 'noindex, nofollow' %}
{% set title = 'About - BIG TIME' %}
{% set description = 'About - BIG TIME' %}
{% set ogImage = '' %}
{% set bodyClass = '' %}
{% set navActive = 'navAbout' %}

{% block content %}
	<div class="container">
        {% include "../partial/header.twig" %}

		<main class="main">

		</main><!-- /main -->
	</div><!-- /container -->

	{% include "../partial/footer.twig" %}
	{% include "../partial/footer-scripts.twig" %}
{% endblock %}
